@import "/assets/css/public/fonts.css";
@import "/assets/css/public/title.css";
@import "/assets/css/public/text.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,body {
        @apply text-left font-["poppins"] bg-natural-beta;
        direction: ltr;
    }

    /* VARIABLES COLOR IN LIGHT MODE */
    html {
        --color-white: 255 255 255;
        --color-black: 0 0 0;
    
        /* PRIMARY */
        --color-primary: 219 68 68;

        /* SECONDARY */
        --color-secondary: 255 173 51;

        /* SUCCESS */
        --color-success: 0 255 102;
        
        /* NATURAL */
        --color-natural: 128 128 128;
        --color-natural-alpha: 193 192 193;
        --color-natural-beta: 229 229 229;
        --color-natural-tetha: 137 137 137;
    }

    button{
        border: none;
    }

    a{
        text-decoration: none;
    }

    input{
        @apply outline-none
    }

    /* GENERIC STYLE TX */
    .tx {
        @apply font-normal text-primary
    }

    .mb-between-section{
        @apply mb-14
    }
    .mt-between-section{
        @apply mt-14
    }
    .my-between-section{
        @apply my-14
    }


    .py-between-section{
        @apply py-14
    }
    .pb-between-section{
        @apply pb-14
    }
    .pt-between-section{
        @apply pt-14
    }


    .bg-primary-beler{
        @apply bg-primary-landa/70 border border-white/20 backdrop-blur-xl
    }

    .border-b-public-section{
        @apply border-b-2 border-primary-tetha
    }
    .border-t-public-section{
        @apply border-t-2 border-primary-tetha
    }
}

@layer utilities {

    /* SIZES TX */
    .tx-xl {
        @apply text-xl
    }

    .tx-lg {
        @apply text-lg
    }

    .tx-md {
        @apply text-md
    }

    .tx-base {
        @apply text-base
    }

    .tx-sm {
        @apply text-sm
    }

    .tx-xs {
        @apply text-xs
    }

    .tx-2xs {
        @apply text-2xs
    }

}
